body {
	font-family: "lft-etica",sans-serif;
	font-style: normal;
	font-weight: 400;
}


.i {
	font-family: "lft-etica",sans-serif;
	font-style: italic;
	font-weight: 400;
}

.b {
	font-family: "lft-etica",sans-serif;
	font-style: normal;
	font-weight: 600;
}

h3 {
		color: @green;
		font-size: 24px;
		margin: 0 0 22px 0;
		padding: 0;
}



p {
		font-size: 14px;
}

.b-border {
	border-bottom: 1px solid @blue;
}

.h230 {
	height: 270px; 
	display: block;
	margin-bottom: 60px;
}

@media (max-width: 767px) {
	.h230 {
		height: auto;
		margin-bottom: 30px;
	}
}